header{
    color: white;
  }

body {
    background-color:white;
    user-select: none;
    
    /*display: inline-block;*/
  }

  h1 {
    display: flex;
    justify-content:space-around;
    font-style: oblique;
    color: #8458B3;
    padding: 0px;
    border-bottom: 1px solid;
  }

  p {
    color: black;
    padding: 3px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    text-indent: 30pt;
    
  }

  nav {
    position: fixed;
    width: 100%;
    top: 0px;
    display: flex;
    justify-content:space-around;
    padding: 10px;
    background-color: #8458B3;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:25px;
    
   }

   h3{
    display: flex;
    justify-content:space-around;
    font-style: oblique;
   }

   div{
    display: flex;
    justify-content:space-around;
  }
  img {
    
    margin: auto;
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    max-width: 30%;
    min-width: 350px;
    
  }
.padding-top{
  padding-top: 100px;
}
  
  a {
    color:white
  }
  
  #email{
    color: black;
  }

  #email:hover{
    color:#8458B3;
  }

  #format{
    align-content: center;
    text-align: center;
    
  }

  a:link{
    text-decoration: none;
    color: #04AA6D;
   }

   a:visited{
    background-color: white;
    border-color: yellowgreen;
    
  }
   
   a:hover {
    color: black;
    text-decoration: underline;
  }
  
  a:active, a:focus {
    color: yellow;
    background-color: transparent;
  }
  
  footer{
    border-top: 1px solid ;
    display: flex;
    justify-content:space-around;
  }
  .about-me-intext-color{
    color: blue;
  }

  .aboutme-intro-image{
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 100%; 
  }

  .paragraph-border-styling{
    border-right: 5px solid #8458B3;
    border-left: 5px solid #8458B3;
    
    
  }
