* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
header{
  size: 100%;
    color: white;
  }

body {
  width: 100%;
  min-width: 840px;
  background-image: url("images/2.jpeg");
  background-size: 100%;
  }
  main{
    max-width: 1100px;
    min-width: 840px;
    margin: auto;
    padding: 60px;
  }
  h1 {
    display: flex;
    justify-content:space-around;
    font-style: oblique;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #B55A30;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    /*border-bottom: 1px solid;*/
  }

  .h1-center{
    display: flex;
    padding-bottom: 50px;
    justify-content:space-around;
  }
  
  h2{
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #B55A30;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
h4{
  padding-top: 0px;
  padding-bottom: 2px;
}
p {
  padding-top: 0px;
  color: black;
  padding: 2px;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  text-indent: 30pt;
  text-align: justify; 
}

.paragraph-styling{
  padding: 5px;
  border: 1px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
nav {
  position: fixed;
  width: 100%;
  min-width: 840px;
  display: flex;
  justify-content:space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #8458B3;
  color: white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:25px;
  margin:0%;
 }

   h3{
    display: flex;
    justify-content:space-around;
    font-style: oblique;
   }

   div{
    padding-top: 0px;
    padding-bottom: 40px;
    width: flex;
    max-width: 100%;
    
  }
  #homepage-div{
  display: flex;
  justify-content: space-around;
  }
  .border{
    border: solid;
  border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  img { 
    padding-top: 2px;
    padding-bottom: 2px;
    max-width: 300px;
    min-width: 150px;
    height: 300px;
    float: right;
    margin: 4px;
  }

  .padding-top{
    padding-top: 0px;
    max-width: 30%;
    min-width: 400px; 
    height: 500px;
    display: flex;
  }
  
  a {
    color:white
  }
  
  #email{
    color: black;
  }

  #email:hover{
    color:#8458B3;
  }

  .format{
    /*align-content: center;*/
    padding: 20px;
    border: 1px solid #8458B3;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-bottom: 40px; 
    background-image: url("images/white-background.jpg"); 
    background-size: 100%;
  }

  a:link{
    text-decoration: none;
    color: #04AA6D;
   }

   a:visited{
    background-color: white;
    border-color: yellowgreen;
  }
   
   a:hover {
    color: black;
  }
  
  a:active, a:focus {
    color: yellow;
    background-color: transparent;
  }
  
  footer{
    padding-top: 0px;
    padding-bottom: 5px;
    border-top: 1px solid #8458B3;
    display: flex;
    justify-content:space-around;
  }
  .about-me-intext-color{
    color: blue;
  }

  .aboutme-intro-image{
    width: 50%;
    padding-top: 40px;
    padding-bottom: 10px;
    max-width: 70%; 
  }

  .nav-width{
    width: 100%;
    display: inline-block;
  }

  .article {
    width: 400px;
   
}

.display-flex{
  display: flex;
  padding-left: 10px;
  background-image: url("images/white-background.jpg");
}
.my-display{
  width: 200px;
  height: 200px;
  padding-top: 40px;
  /* width: 100%; */ 
 }

 #homepage-footer-padding{
  padding-bottom: 50px;
 }

 .inside-div-width{
  width: 50%;
 }
  .in-div-padding-right{
    padding-right: 15px;
  }
  .in-div-padding-left{
    padding-left: 15px;
  }

 .image-size{
  width: 250px;
  height: 300px;
  padding: 0px;
  border: 1px solid;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
 }

 .fa {
  padding: 10px;
  font-size: 40px;
  width: 50px;
  text-align: center;
  border: 1px solid #8458B3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: black;
    
}

 